Src/PyCatcher/.idea/*

Tex/Presentation/presentation.aux
Tex/Presentation/presentation.log
Tex/Presentation/presentation.nav
Tex/Presentation/presentation.out
Tex/Presentation/presentation.pdf
Tex/Presentation/presentation.snm
Tex/Presentation/presentation.synctex.gz
Tex/Presentation/presentation.toc

Src/osmolib/src/shared/libosmocore/build-host/tests/a5/a5_test
Src/osmolib/src/shared/libosmocore/build-host/tests/auth/milenage_test
Src/osmolib/src/shared/libosmocore/build-host/tests/bits/bitrev_test
Src/osmolib/src/shared/libosmocore/build-host/tests/conv/conv_test
Src/osmolib/src/shared/libosmocore/build-host/tests/gsm0808/gsm0808_test
Src/osmolib/src/shared/libosmocore/build-host/tests/lapd/lapd_test
Src/osmolib/src/shared/libosmocore/build-host/utils/osmo-arfcn
Src/osmolib/src/shared/libosmocore/build-host/utils/osmo-auc-gen

